<h2 mat-dialog-title>
    Evento Extra
</h2>

<mat-dialog-content>
    
    <form [formGroup]="form">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Título</mat-label>
                <input
                matInput
                formControlName="titulo">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Descrição</mat-label>
                <input
                matInput
                formControlName="descricao">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" >
                <mat-label>Data</mat-label>
                <input matInput [matDatepicker]="dp" [min]="todayDate" placeholder="Data" formControlName="dataHora" (focus)="dp.open()">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Hora</mat-label>
                <input matInput formControlName="hora" mask="00:00" placeholder="HH:mm" (blur)="validarHora()">
            </mat-form-field>
        </div>
        
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Endereço</mat-label>
                <input
                matInput
                formControlName="endereco">
                
            </mat-form-field>
        </div>
        
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Motorista</mat-label>
                <mat-select formControlName="driverId">
                    <mat-option  *ngFor="let d of data.motoristas" [value]="d.id">{{d.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Observações</mat-label>
                <input
                matInput
                formControlName="observacao">
            </mat-form-field>
        </div>
        
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button
    mat-raised-button
    color="error"
    (click)="cancelar()">
    Cancelar
</button>
<button
mat-raised-button
color="primary"
    [disabled]="form.invalid"
(click)="salvar()">
Salvar
</button>

</mat-dialog-actions>