<mat-list>
  <mat-list-item *ngIf="isAdmin" routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon> DASHBOARD
  </mat-list-item>
  <mat-list-item *ngIf="isAdmin" routerLink="{{routes.PEOPLE}}" routerLinkActive="active">
    <mat-icon>local_shipping</mat-icon> Motoristas/Técnicas
  </mat-list-item>
  <mat-list-item *ngIf="isAdmin" routerLink="{{routes.CLIENTS}}" routerLinkActive="active">
    <mat-icon>account_circle</mat-icon> Clientes
  </mat-list-item>
  <mat-list-item *ngIf="isAdmin" (click)="openEquipaments()">
    <mat-icon>filter_none</mat-icon> Equipamentos
  </mat-list-item>
    <div>
      <mat-list-item class="ui-element" [style.display]="isOpenEquipaments ? 'flex' : 'none'" routerLink="{{routes.CONSUMABLES}}" routerLinkActive="active">
        <div class="circle"></div>Consumíveis
      </mat-list-item>
      <mat-list-item class="ui-element" [style.display]="isOpenEquipaments ? 'flex' : 'none'" routerLink="{{routes.EQUIPAMENTS_SPECIFICATIONS}}" routerLinkActive="active">
        <div class="circle"></div>Ponteiras
      </mat-list-item>
      <mat-list-item class="ui-element" [style.display]="isOpenEquipaments ? 'flex' : 'none'" routerLink="{{routes.EQUIPAMENTS}}" routerLinkActive="active">
        <div class="circle"></div>Equipamentos
      </mat-list-item>
      <mat-list-item class="ui-element" [style.display]="isOpenEquipaments ? 'flex' : 'none'" routerLink="{{routes.PRICE_TABLE}}" routerLinkActive="active">
        <div class="circle"></div>Tabela de Preço
      </mat-list-item>
    </div>
  <mat-list-item (click)="openLocations()">
    <mat-icon>assignment</mat-icon> Locações
  </mat-list-item>
    <div>
      <mat-list-item  *ngIf="isAdmin" class="ui-element" [style.display]="isOpenLocations ? 'flex' : 'none'"  routerLink="{{routes.CALENDAR}}" routerLinkActive="active">
        <div class="circle"></div>Agenda
      </mat-list-item>
      <mat-list-item *ngIf="isAdmin" class="ui-element" [style.display]="isOpenLocations ? 'flex' : 'none'" routerLink="{{routes.SCHEDULES}}" routerLinkActive="active">
        <div class="circle"></div>Agendamentos
      </mat-list-item>
      <mat-list-item *ngIf="isAdmin" class="ui-element" [style.display]="isOpenLocations ? 'flex' : 'none'" routerLink="{{routes.AVAILABILITY}}" routerLinkActive="active">
        <div class="circle"></div>Disponibilidade
      </mat-list-item>
      <mat-list-item *ngIf="isAdmin || isDriver" class="ui-element" [style.display]="isOpenLocations ? 'flex' : 'none'" routerLink="{{routes.CALENDAR_CONSUMABLE}}" routerLinkActive="active">
        <div class="circle"></div>Lançar Consumíveis
      </mat-list-item>
      <mat-list-item *ngIf="isAdmin" class="ui-element" [style.display]="isOpenLocations ? 'flex' : 'none'" routerLink="{{routes.BULK_SCHEDULING}}" routerLinkActive="active">
        <div class="circle"></div>Agenda em Lote
      </mat-list-item>
      <mat-list-item *ngIf="isAdmin" class="ui-element" [style.display]="isOpenLocations ? 'flex' : 'none'" routerLink="{{routes.INVOICING}}" routerLinkActive="active">
        <div class="circle"></div>Faturamento
      </mat-list-item>
    </div>
    <mat-list-item *ngIf="isAdmin" (click)="openContracts()">
      <mat-icon>description</mat-icon> Contratos
    </mat-list-item>
      <div>
        <mat-list-item class="ui-element" [style.display]="isOpenContracts ? 'flex' : 'none'" routerLink="{{routes.MODEL_CONFIGURATION}}" routerLinkActive="active">
          <div class="circle"></div>Configuração de Modelos
        </mat-list-item>
        <mat-list-item *ngIf="isAdmin" class="ui-element" [style.display]="isOpenContracts ? 'flex' : 'none'"  routerLink="{{routes.CONTRACTS}}" routerLinkActive="active">
          <div class="circle"></div>Gerar Contratos
        </mat-list-item>
        <mat-list-item *ngIf="isAdmin" class="ui-element" [style.display]="isOpenContracts ? 'flex' : 'none'"  routerLink="{{routes.CONTRACTS_ANUAL}}" routerLinkActive="active">
          <div class="circle"></div>Contratos Anuais
        </mat-list-item>
        
      </div>
  <mat-list-item *ngIf="isAdmin" routerLink="{{routes.NOTIFICACAO}}" routerLinkActive="active">
    <mat-icon>notifications</mat-icon> Notificação
  </mat-list-item>
  <mat-list-item routerLink="{{routes.TYPOGRAPHY}}" routerLinkActive="active" [style.display]="'none'">
    <mat-icon>text_fields</mat-icon> Typography
  </mat-list-item>
  <mat-list-item routerLink="{{routes.TABLES}}" routerLinkActive="active" [style.display]="'none'">
    <mat-icon>border_all</mat-icon> Tables
  </mat-list-item>
  <mat-list-item routerLink="{{routes.NOTIFICATION}}" routerLinkActive="active" [style.display]="'none'">
    <mat-icon>notifications_none</mat-icon> Notification
  </mat-list-item>
  <mat-list-item  [style.display]="'none'">
    <mat-icon>filter_none</mat-icon> UI Elements
  </mat-list-item>
    <div>
      <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_ICONS}}" routerLinkActive="active" [style.display]="'none'">
        <div class="circle"></div>Icons
      </mat-list-item>
      <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_CHARTS}}" routerLinkActive="active" [style.display]="'none'">
        <div class="circle"></div>Charts
      </mat-list-item>
      <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_MAP}}" routerLinkActive="active" [style.display]="'none'">
        <div class="circle"></div>Map
      </mat-list-item>
    </div>
</mat-list>

